    body {
    background-color:#7946f0;
  
  }
  img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
  }

  section div {
    padding: 7px;
    box-sizing: border-box;
    float: left;
  } 

  ul {
    position: absolute;
    top: 81%;
}